Source: ros-jazzy-replay-testing
Section: misc
Priority: optional
Maintainer: Troy Gibb <troy@polymathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), python3-junitparser <!nocheck>, python3-pytest <!nocheck>, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-pytest <!nocheck>, ros-jazzy-geometry-msgs <!nocheck>, ros-jazzy-ros2run <!nocheck>, ros-jazzy-ros2topic <!nocheck>, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-replay-testing
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-boto3, python3-pydantic, python3-termcolor, ros-jazzy-launch, ros-jazzy-rclpy, ros-jazzy-ros2bag, ros-jazzy-rosbag2-py, ros-jazzy-rosbag2-storage-mcap, ros-jazzy-ros-workspace
Description: A testing library and CLI for replaying ROS nodes.
